@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Samuel Bredenhof</p>
    <p>A01265517</p>
    <p>When I'm done school I have a few ideas for a job I want. During the summer I had a job where I did all sorts of small coding projects for a trucking company. Doing that when im done would be nice. Also some sort of web dev job would be nice.</p>
</div>
