@model string[]
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (string item in Model)
        {
            <p>
                @item
            </p>
        }
</div>
